.card {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  &__titleapp {
    font-family: "Courier New", Courier, monospace;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
    margin: 0;
  }

  &__formulary {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    &__input {
      width: 80%;
      padding: 0.4rem;
      border-radius: 10px;
    }
    &__button {
      width: 8rem;
      padding: 0.3rem;
      border-radius: 10px;
      font-weight: 700;
      font-size: 1.2rem;
      cursor: pointer;
      &:hover {
        background: gray;
        transition: all 0.5s ease-in-out;
      }
    }
  }
  &__error {
    font-size: 1.5rem;
    color: red;
    font-weight: 700;
    display: none;
  }
  &__title {
    font-size: 2rem;
    margin: 0;
  }
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-height: 50px;
    &__img {
      width: 4rem;
    }
  }
  &__temp {
    margin-top: 0.5rem;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.5rem;
  }
  /*datos siguientes*/

  //modificadores
  &--primary {
    padding-top: 1rem;
    flex-direction: column;
  }
  &--secondary {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 1.2rem;
  }
  &--thrid {
    height: 200px;
    flex-direction: column;
    align-items: center;
    justify-content:  space-evenly;
    gap: 10px;
    flex-wrap: wrap;
    overflow-x:auto;
    display: none;
   /*modificar el scrool*/
    &::-webkit-scrollbar {
      -webkit-appearance: none;
    }
    &::-webkit-scrollbar:vertical {
      width:10px;
    }
    &::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
      display: none;
    } 
    &::-webkit-scrollbar:horizontal {
      height: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #797979;
      border-radius: 20px;
      border: 2px solid #f1f2f3;
    }
    &::-webkit-scrollbar-track {
      border-radius: 10px;  
    }

  }
}
