
body{
    max-width:1440px;
    background-color: white;
    display: flex;
    justify-content: center;
    padding:0.8rem;
    align-items: center;
    height: 100vh;
    margin: 1rem;
    background-image: url("https://source.unsplash.com/collection/319663/1600x900");
    background-position: center;
    background-size: cover;
}


