
body{
    max-width:1440px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    align-items: center;
    height: 100vh;
    background-image: url("https://source.unsplash.com/collection/319663/1600x900");
    background-position: center;
    background-size: cover;
}


